<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<link rel="stylesheet" href="/css/board/myCateBoard.css">
	</head>
<body>
	<th:block th:replace="~{module/cnav}"></th:block>
	<th:block th:replace="~{module/csidenav}"></th:block>

    <div class="container">
        <div id="mainBoard" class="main-container">
            <div id="boardTitle">
                <h1 class="text-center" th:text="${bcategory}"></h1>
            </div>
            <div class="text-end mb-3">
                <!-- 검색 -->
                <div id="searchForm" style="display: flex; align-items: center; width: 500px; margin-left: auto;">
                    <select class="form-select me-2" name="searchType" id="searchType" style="flex: 1;">
                        <option value="제목-내용" selected>제목+내용</option>
                        <option value="제목">제목</option>
                        <option value="내용">내용</option>
                    </select>
                    <input type="text" name="searchText" class="form-control me-2" placeholder="검색어를 입력하세요" id="searchTextInput" style="flex: 3;">
                    <button class="btn btn-dark" id="searchButton" onclick="searchAction()">
                        <i class="fas fa-search"></i> 검색
                    </button>
                </div>

                <a th:href="@{/board/tiny/{bcategory}(bcategory=${bcategory})}" class="btn btn-primary mb-3">글 작성</a>
            </div>

            <div id="postList" class="row row-cols-1 row-cols-md-3 g-4">
                <th:block th:each="board : ${postList}">
                    <div class="col">
                        <div id="space-card" class="space-card">
                            <div class="dropdown" id="cardEditButton">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    &#x22EE;
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" th:href="@{/board/update/{bnum}(bnum=${board.bnum})}">수정</a></li>
                                    <li><button class="dropdown-item" th:onclick="'deletePost(' + ${board.bnum} + ', this)'">삭제</button></li>
                                </ul>
                            </div>

                            <a th:href="@{/board/boardDetail/bnum/{bnum}(bnum=${board.bnum})}">
                                <th:block th:if="${not #lists.isEmpty(board.bimage)}">
                                    <img th:src="@{/resources/Thumbnail/{bimage}(bimage=${board.bimage})}" th:alt="${board.title}">
                                </th:block>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${board.title}"></h5>
                                    <h5 class="card-title" th:text="${board.subtitle}"></h5>
                                    <div class="card-text">
                                        <span th:text="${board.uid}"></span>
                                        <fmt:formatDate value="${board.created_at}" pattern="yyyy-MM-dd" />
                                        <div class="favorite-icon" th:data-pname="${board.title}" id="likeHeart" onclick="toggleFavorite('${board.title}', this)">
                                            &#9829;
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="pagination">
        <th:block th:if="${paging.startPage != 1}">
            <a href="#" class="page-link" th:data-pageno="${ppage.startPage - 5}">이전</a>
        </th:block>
        <th:block th:each="pageNo : ${#numbers.sequence(paging.startPage, paging.endPage)}">
            <a href="#" class="page-link" th:classappend="${pageNo == paging.currentPage} ? 'active' : ''" th:data-pageno="${pageNo}" th:text="${pageNo}"></a>
        </th:block>
        <th:block th:if="${paging.lastStartPage != paging.startPage}">
            <a href="#" class="page-link" th:data-pageno="${ppage.startPage + 5}">다음</a>
        </th:block>
    </div>
	
	<script th:inline="javascript">
		function searchAction() {

		    var searchType = $('#searchType').val().trim();
		    var searchText = $('#searchTextInput').val().trim();
		    var bcategory = /*[[${bcategory}]]*/ 'default'; // 검색 만 안됨
			var url = "/board/boardList/" + encodeURIComponent(bcategory.trim()) + "/search/" 
			          + encodeURIComponent(searchType) + "/" + encodeURIComponent(searchText) + "/page/1";

		    console.log("searchType, searchText: " + searchType + " " + searchText);
			console.log("url : "+url);
			
		    $.ajax({
		        type: "GET",
		        url: url,
		        success: function(response) {
		            console.log("ajax 성공");
		            console.log("aa: ", response.postList);
					console.log(response); 
		            updateTable(response.postList);
		            updatePaging(response.paging, searchType, searchText);
		        },
		        error: function(xhr, status, error) {
		            console.error("ajax 오류: " + error);
		        }
		    });
		}

		function updateTable(postListData) {
		    console.log("updateTable 호출");
		    console.log("postListData: ", postListData);
		    
		    var postList = $("#postList");
		    postList.empty(); // 기존 내용을 모두 비웁니다.

		    // postListData의 각 게시물을 순회하며 HTML 구조를 동적으로 생성합니다.
		    postListData.forEach(function(post) {
		        // 게시물에 이미지가 있는지 확인
		        var imgTag = post.bimage ? `<img src="/resources/Thumbnail/${post.bimage}" alt="${post.title}">` : '';
		        console.log("imgTag: " + imgTag);

		        var cardHtml = `
		            <div class="col">
		                <div id="space-card" class="space-card">
		                    <div class="dropdown" id="cardEditButton">
		                        <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		                            &#x22EE; 
		                        </button>
		                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		                            <li><a class="dropdown-item" href="/board/update/${post.bnum}">수정</a></li>
		                            <li><button class="dropdown-item" onclick="deletePost('${post.bnum}', this)">삭제</button></li>
		                        </ul>
		                    </div>
		                    <a href="/board/boardDetail/bnum/${encodeURIComponent(post.bnum)}">
		                        ${imgTag}
		                        <div class="card-body">
		                            <h5 class="card-title">${post.title}</h5>
		                            <h5 class="card-title">${post.subtitle}</h5>
		                            <div class="card-text">
		                                ${post.uid}
		                                <div class="favorite-icon" data-pname="${post.title}" id="likeHeart" onclick="toggleFavorite('${post.title}', this)"> &#9829;</div>
		                            </div>
		                        </div>
		                    </a>
		                </div>
		            </div>
		        `;

		        // 생성한 HTML을 #postList에 추가
		        postList.append(cardHtml);
		    });
		}

		// 날짜 포맷팅 함수
		function formatDate(dateString) {
		    var date = new Date(dateString);
		    var year = date.getFullYear();
		    var month = ('0' + (date.getMonth() + 1)).slice(-2);
		    var day = ('0' + date.getDate()).slice(-2);
		    return year + '-' + month + '-' + day;
		}

		function updatePaging(ppage, searchType, searchText) {
		    console.log("updatePaging");
		    var paginationDiv = $(".pagination");
		    paginationDiv.empty(); // 기존 페이징 요소 비우기

		    if (searchText !== undefined) {
		        if (ppage.startPage != 1) {
		            var prevPage = ppage.startPage - 5;
		            paginationDiv.append('<li class="page-item"><a href="#" class="page-link" data-pageno="' + prevPage + '" data-searchType="' + searchType + '" data-searchText="' + searchText + '">이전</a></li>');
		        }
		        for (var pageNo = ppage.startPage; pageNo <= ppage.endPage; pageNo++) {
		            var activeClass = (pageNo == ppage.currentPage) ? ' active' : '';
		            paginationDiv.append('<li class="page-item' + activeClass + '"><a href="#" class="page-link" data-pageno="' + pageNo + '" data-searchType="' + searchType + '" data-searchText="' + searchText + '">' + pageNo + '</a></li>');
		        }
		        if (ppage.lastStartPage != ppage.startPage) {
		            var nextPage = ppage.startPage + 5;
		            paginationDiv.append('<li class="page-item"><a href="#" class="page-link" data-pageno="' + nextPage + '" data-searchType="' + searchType + '" data-searchText="' + searchText + '">다음</a></li>');
		        }
		    } else {
		        if (ppage.startPage != 1) {
		            var prevPage = ppage.startPage - 5;
		            paginationDiv.append('<li class="page-item"><a href="#" class="page-link" data-pageno="' + prevPage + '">이전</a></li>');
		        }
		        for (var pageNo = ppage.startPage; pageNo <= ppage.endPage; pageNo++) {
		            var activeClass = (pageNo == ppage.currentPage) ? ' active' : '';
		            paginationDiv.append('<li class="page-item' + activeClass + '"><a href="#" class="page-link" data-pageno="' + pageNo + '">' + pageNo + '</a></li>');
		        }
		        if (ppage.lastStartPage != ppage.startPage) {
		            var nextPage = ppage.startPage + 5;
		            paginationDiv.append('<li class="page-item"><a href="#" class="page-link" data-pageno="' + nextPage + '">다음</a></li>');
		        }
		    }
		}

		$(document).on('click', '.page-link', function(e) {
		    console.log("aaa");
		    e.preventDefault();
		    var pageno = $(this).data('pageno');
		    var searchType = $(this).data('searchtype');
		    var searchText = $(this).data('searchtext');
		    console.log("page는 : " + pageno);
		    
		    var bcategory = /*[[${bcategory}]]*/ 'default'; // bcategory 정의

		    // searchText가 정의되지 않은 경우와 정의된 경우를 나누어 처리
		    if (searchText !== undefined) {
		        // 검색 조회일 때 ajax 요청
		        var url = "/board/boardList/" + bcategory + "/search/" + searchType + "/" + searchText + "/page/" + pageno;
		        $.ajax({
		            url: url,
		            type: 'GET',
		            success: function(response) {
		                updateTable(response.postList);
		                updatePaging(response.paging, searchType, searchText);
		            },
		            error: function(error) {
		                console.error("Ajax Error " + error);
		            }
		        });
		    } else {
		        // 검색 조회가 아닐 때 ajax 요청
		        var url = "/board/boardList/" + bcategory + "/page/" + pageno;
		        console.log("pageno :: " + pageno);
		        console.log("url :: " + url);
		    
		        $.ajax({
		            url: url,
		            type: 'GET',
		            success: function(response) {
		                updateTable(response.postList);
		                updatePaging(response.paging, searchType, searchText);
		            },
		            error: function(error) {
		                console.error("Ajax Error " + error);
		            }
		        });
		    }
		});

		function deletePost(bnum, element) {
		    // 확인 메시지를 띄운 후 삭제 요청을 진행합니다.
		    if (!confirm("정말 삭제하시겠습니까?")) {
		        return;
		    }

		    $.ajax({
		        url: '/board/delete/bnum/' + bnum,
		        type: 'DELETE', // HTTP 메소드 DELETE 사용
		        success: function(response) {
		            console.log("삭제 성공");
		            // 게시글이 포함된 최상위 카드 요소를 찾아서 삭제합니다.
		            $(element).closest('.col').remove();
		        },
		        error: function(xhr, status, error) {
		            console.error("삭제 실패:", error);
		            alert("삭제에 실패했습니다. 다시 시도해주세요.");
		        }
		    });
		}

		
	</script>
</body>
</html>
